html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: FiraSansRegular, sans-serif;
  color: #5a636b;
  background-image: url(../img/comppattern2.png); }

.content {
  min-height: calc(100vh - 38px); }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      padding-left: 35px;
      padding-right: 33px; } }
  @media (min-width: 1400px) {
    .container {
      padding: 0; } }

@media (min-width: 1400px) {
  .content__wrap {
    width: 960px;
    margin: 0 auto;
    margin-top: 40px; } }

@media (min-width: 1400px) {
  main {
    width: 650px;
    float: right; } }

h2 {
  margin-top: 0;
  text-align: center;
  font-family: FiraSansBook, sans-serif;
  font-size: 24px;
  color: #3ba8c0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .sprite {
      margin-right: 25px;
      margin-left: 60px; } }
  @media (min-width: 768px) {
    .sprite--last {
      margin-right: 32px;
      margin-left: 74px; } }

.sprite-add_img {
  width: 32px;
  height: 32px;
  background-position: -10px -10px; }

.sprite-burger {
  width: 25px;
  height: 21px;
  background-position: -10px -62px; }

.sprite-case {
  width: 35px;
  height: 33px;
  background-position: -10px -103px; }

.sprite-hat {
  width: 53px;
  height: 30px;
  background-position: -10px -298px; }

.sprite-lock {
  width: 20px;
  height: 32px;
  background-position: -10px -348px; }

.sprite-mail {
  width: 21px;
  height: 16px;
  background-position: -10px -400px; }

.sprite-page {
  width: 33px;
  height: 40px;
  background-position: -10px -436px; }

.sprite-phone {
  width: 19px;
  height: 21px;
  background-position: -10px -496px; }

.sprite-skype {
  width: 20px;
  height: 20px;
  background-position: -10px -537px; }

.contacts {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .contacts {
      margin-bottom: 30px; } }
  @media (min-width: 1400px) {
    .contacts {
      float: left;
      width: 250px; } }

@media (min-width: 768px) {
  .contacts__list {
    display: flex; } }

@media (min-width: 1400px) {
  .contacts__list {
    flex-direction: column; } }

.contacts__item-wrap {
  width: 230px;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .contacts__item-wrap {
      width: auto; } }
  .contacts__item-wrap i {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    line-height: 39px; }

.contacts__item {
  padding: 10px; }
  @media (min-width: 768px) {
    .contacts__item {
      width: 33.333333333%; } }
  @media (min-width: 1400px) {
    .contacts__item {
      width: 100%; } }
  .contacts__item--dark {
    background-color: #27a1ba; }
  .contacts__item--middle {
    background-color: #41b9d4; }
  .contacts__item--light {
    background-color: #48cbe8; }
  .contacts__item a {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-family: FiraSansBook, sans-serif;
    line-height: 39px; }

.education {
  margin-top: 15px;
  background-color: #eff3f7; }
  @media (min-width: 768px) {
    .education {
      margin-top: 35px; } }

@media (min-width: 768px) {
  .education__title {
    padding: 20px;
    width: 225px;
    border-bottom: 2px solid #3ba8c0; } }

.education__description {
  text-align: center;
  font-size: 15px;
  font-family: FiraSansLight, sans-serif; }
  @media (min-width: 768px) {
    .education__description {
      display: flex;
      justify-content: flex-start;
      margin-top: 30px; } }
  .education__description-bold {
    display: block;
    font-family: FiraSansBook, sans-serif;
    font-size: 17px; }

@media (min-width: 768px) {
  .education__description-text {
    text-align: left; } }

@media (min-width: 768px) {
  .education__description-bold {
    text-align: left; } }

.experience {
  margin-top: 15px;
  background-color: #eff3f7; }
  @media (min-width: 768px) {
    .experience {
      margin-top: 35px; } }

@media (min-width: 768px) {
  .experience__title {
    padding: 20px;
    width: 225px;
    border-bottom: 2px solid #3ba8c0; } }

.experience__description {
  text-align: center;
  font-size: 15px;
  font-family: FiraSansLight, sans-serif; }
  @media (min-width: 768px) {
    .experience__description {
      display: flex;
      justify-content: flex-start;
      margin-top: 30px; } }
  .experience__description-bold {
    display: block;
    font-family: FiraSansBook, sans-serif;
    font-size: 17px; }

@media (min-width: 768px) {
  .experience__description-text {
    text-align: left; } }

@font-face {
  font-family: "FiraSansBook";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fira/firasans-book.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-book.woff") format("woff"); }

@font-face {
  font-family: "FiraSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fira/firasans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-regular.woff") format("woff"); }

@font-face {
  font-family: "FiraSansMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fira/firasans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-medium.woff") format("woff"); }

@font-face {
  font-family: "FiraSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fira/firasans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-light.woff") format("woff"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima-Nova/ProximaNovaCond-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova/ProximaNovaCond-Semibold.woff2") format("woff2"), url("../fonts/Proxima-Nova/ProximaNovaCond-Semibold.woff") format("woff"); }

.footer {
  position: relative;
  min-height: 38px;
  line-height: 38px;
  font-size: 11px;
  font-family: FiraSansLight, sans-serif;
  background-color: #eff3f7;
  text-align: center;
  padding: 0 50px; }
  @media (min-width: 768px) {
    .footer {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 13px; } }
  @media (min-width: 1400px) {
    .footer {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .footer::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #226a7e;
    background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
    top: 0;
    left: 0; }
  .footer p {
    margin: 0; }

.footer__wrap {
  display: flex;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .footer__wrap {
      width: 700px;
      margin: 0 auto; } }
  @media (min-width: 1400px) {
    .footer__wrap {
      width: 960px; } }

@media (min-width: 1400px) {
  .container--form {
    float: right;
    width: 650px; } }

.form {
  background-color: #eff3f7;
  margin-top: 15px;
  padding-bottom: 40px;
  margin-bottom: 22px; }
  @media (min-width: 1400px) {
    .form {
      margin-top: 0; } }

.form__title {
  margin-bottom: 0;
  padding: 30px 6px 40px;
  background-color: #48cbe8;
  background-image: linear-gradient(to bottom,#48cbe8 87.7%, #67dffa 12.3%);
  border-radius: 4px 4px 0 0;
  font-family: FiraSansBook, sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #ffffff; }
  @media (min-width: 768px) {
    .form__title {
      font-size: 27px;
      padding-top: 45px;
      padding-bottom: 45px; } }

.form__input-wrap {
  padding: 15px;
  padding-top: 0; }
  @media (min-width: 768px) {
    .form__input-wrap {
      padding: 35px 124px 55px 124px; } }

@media (min-width: 768px) {
  .form__name-wrap {
    display: flex;
    justify-content: space-between; }
    .form__name-wrap label {
      width: calc(50% - 18px); } }

.label {
  margin-top: 25px;
  display: block;
  font-family: FiraSansLight, sans-serif;
  font-size: 18px; }

.input,
textarea {
  width: 100%;
  padding: 8px;
  background-color: #fbfcfd;
  border: 1px solid #3ba8c0;
  border-radius: 3px;
  outline: none;
  font-size: 13px;
  color: #3ba8c0; }

textarea {
  min-height: 100px; }
  @media (min-width: 768px) {
    textarea {
      min-height: 205px; } }

.capcha__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.capcha__title {
  font-family: FiraSansLight, sans-serif;
  font-size: 15px; }

.capcha__img {
  display: inline-block;
  vertical-align: middle;
  width: 128px;
  height: 73px;
  background-color: #fbfcfd;
  border: 1px solid #3ba8c0;
  border-radius: 3px;
  margin-right: 25px; }
  @media (min-width: 768px) {
    .capcha__img {
      width: calc(50% - 11px); } }
  .capcha__img img {
    transform: translateY(50%); }
    @media (min-width: 768px) {
      .capcha__img img {
        transform: translateY(50%) translateX(50%); } }

.input--capcha {
  display: inline-block;
  vertical-align: middle; }
  @media (min-width: 768px) {
    .input--capcha {
      width: calc(50% - 11px); } }

.button__wrap {
  margin-top: 25px;
  display: flex;
  justify-content: space-between; }

.button {
  width: 104px;
  height: 31px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-family: FiraSansBook, sans-serif;
  cursor: pointer; }
  .button--submit {
    background-color: #48cbe8; }
  .button--reset {
    background-color: #849db5; }
  @media (min-width: 768px) {
    .button {
      width: 140px;
      height: 34px; } }

.header {
  padding: 7px 15px;
  background-color: #eff3f7;
  position: relative; }
  @media (min-width: 768px) {
    .header {
      padding-top: 37px;
      padding-bottom: 37px;
      padding-left: 35px;
      padding-right: 35px; } }
  @media (min-width: 1400px) {
    .header {
      padding-left: 0;
      padding-right: 0; } }
  .header::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #226a7e;
    background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
    bottom: 0;
    left: 0; }

@media (min-width: 1400px) {
  .header__wrap {
    width: 1200px;
    margin: 0 auto; } }

.logo {
  width: 170px;
  float: left; }

.info {
  margin-top: 15px;
  padding-bottom: 12px;
  background-color: #eff3f7; }
  @media (min-width: 768px) {
    .info {
      margin: 0 auto;
      margin-top: 35px; } }
  @media (min-width: 1400px) {
    .info {
      margin-top: 0; } }

@media (min-width: 768px) {
  .info__wrapper {
    margin: 0 auto;
    width: 700px;
    padding-bottom: 50px; } }

@media (min-width: 1400px) {
  .info__wrapper {
    width: 650px; } }

@media (min-width: 768px) {
  .info__title {
    padding: 20px;
    width: 310px;
    border-bottom: 2px solid #3ba8c0; } }

.info__photo {
  width: 130px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .info__photo {
      margin-left: 30px;
      margin-right: 30px;
      width: 200px;
      float: left; } }
  @media (min-width: 1400px) {
    .info__photo {
      width: 150px; } }

.info__photo-img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #2fa5bc; }

@media (min-width: 768px) {
  .info__description-wrap {
    float: left;
    width: 430px; } }

.info__description {
  font-size: 19px;
  text-align: center; }
  @media (min-width: 768px) {
    .info__description:first-of-type {
      margin-top: 0; } }
  @media (min-width: 768px) {
    .info__description--skills {
      display: inline-block;
      vertical-align: top;
      margin-top: 0; } }
  @media (min-width: 768px) {
    .info__description {
      text-align: left; } }
  .info__description-bold {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: FiraSansMedium, sans-serif; }
    @media (min-width: 768px) {
      .info__description-bold {
        display: inline-block; } }

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 105px; }
  @media (min-width: 768px) {
    .skills {
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
      width: 160px; } }

.skill__item {
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 7px;
  font-family: ProximaNovaCond, sans-serif;
  color: #ffffff;
  background-image: linear-gradient(to top, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
  border-radius: 2px; }

.menu__toggle {
  position: relative;
  float: right;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 21px;
  transform: translateY(50%);
  background-position: -10px -62px;
  cursor: pointer; }
  @media (min-width: 1400px) {
    .menu__toggle {
      display: none; } }

.menu {
  position: relative; }
  .menu--close {
    display: none; }
    @media (min-width: 1400px) {
      .menu--close {
        display: block; } }
  @media (min-width: 1400px) {
    .menu {
      float: left;
      width: 250px; } }

.menu ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eff3f7;
  box-shadow: 0 4px 8.7px 0.3px rgba(88, 105, 122, 0.59); }
  @media (min-width: 1400px) {
    .menu ul {
      position: static; } }

.menu__item {
  text-align: center; }
  .menu__item:not(:first-of-type) {
    border-top: 1px solid #8196ac; }

.menu__item-link {
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 24px;
  color: #8196ac; }
  .menu__item-link--active {
    background-color: #2fa5bc;
    color: #fff; }

.social {
  padding: 20px 27px; }
  .social--header {
    display: none; }
    @media (min-width: 768px) {
      .social--header {
        display: block;
        float: right;
        width: 280px;
        margin-right: 55px;
        padding: 0; } }
  @media (min-width: 768px) {
    .social--footer {
      display: none; } }

.social__wrap {
  width: 300px; }

.social__link {
  display: inline-block; }
  .social__link:not(:last-of-type) {
    margin-right: 19px; }
  .social__link i {
    background-color: #3ba8c0;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 51px; }
    @media (min-width: 768px) {
      .social__link i {
        width: 42px;
        height: 42px;
        line-height: 42px;
        background-color: #58697a; }
        .social__link i:hover {
          background-color: #3ba8c0; } }
