@import "bourbon"

.container--form
  @media ($desktop-width)
    float: right
    width: 650px

.form
  background-color: #eff3f7
  margin-top: 15px
  padding-bottom: 40px
  margin-bottom: 22px
  @media ($desktop-width)
    margin-top: 0

.autorization-form
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 298px
  background-color: #eff3f7
  border-radius: 3px
  box-shadow: 0 4px 6.9px 0.1px rgba(13, 16, 7, 0.29)

  a
    display: block
    text-align: center
    margin: 0 auto
    margin-top: 20px
    font-size: 21px
    @media ($tablet-width)
      font-size: 36px
      width: 230px
  @media ($tablet-width)
    width: 509px

.autoform__wrap
  width: 250px
  margin: 0 auto
  margin-bottom: 25px
  @media ($tablet-width)
    width: 428px
    margin-bottom: 45px

.auto__login
  display: block
  text-align: center
  font-family: FiraSansLight, sans-serif
  font-size: 21px
  @media ($tablet-width)
    font-size: 36px
    margin-top: 20px

.auto__input
  width: 100%
  padding: 8px
  background-color: #fbfcfd
  border: 1px solid #3ba8c0
  border-radius: 3px
  outline: none
  font-size: 13px
  color: #3ba8c0
  @media ($tablet-width)
    min-height: 60px

.form__title
  margin-bottom: 0
  padding: 30px 6px 40px
  @include linear-gradient(to bottom, #48cbe8 87.7%, #67dffa 12.3%)
  border-radius: 4px 4px 0 0
  font-family: FiraSansBook, sans-serif
  font-size: 19px
  font-weight: 300
  color: #ffffff
  @media ($tablet-width)
    font-size: 27px
    padding-top: 45px
    padding-bottom: 45px
  &--autorization
    font-size: 24px
    padding-top: 15px
    padding-bottom: 25px
    @media ($tablet-width)
      font-size: 40px


.form__input-wrap
  padding: 15px
  padding-top: 0
  @media ($tablet-width)
    padding: 35px 124px 55px 124px

.form__name-wrap
  @media ($tablet-width)
    display: flex
    justify-content: space-between
    label
      width: calc(50% - 18px)

.label
  margin-top: 25px
  display: block
  font-family: FiraSansLight, sans-serif
  font-size: 18px

.input,
textarea
  width: 100%
  padding: 8px
  background-color: #fbfcfd
  border: 1px solid #3ba8c0
  border-radius: 3px
  outline: none
  font-size: 13px
  color: #3ba8c0



textarea
  min-height: 100px
  @media ($tablet-width)
    min-height: 205px

.capcha__wrap
  display: flex
  justify-content: space-between
  align-items: center
.capcha__title
  font-family: FiraSansLight, sans-serif
  font-size: 15px
.capcha__img
  display: inline-block
  vertical-align: middle
  width: 128px
  height: 73px
  background-color: #fbfcfd
  border: 1px solid #3ba8c0
  border-radius: 3px
  margin-right: 25px
  @media ($tablet-width)
    width: calc(50% - 11px)
  img
    transform: translateY(50%)
    @media ($tablet-width)
      transform: translateY(50%) translateX(50%)

.input--capcha
  display: inline-block
  vertical-align: middle
  @media ($tablet-width)
    width: calc(50% - 11px)
  //width: 112px

.button__wrap
  margin-top: 25px
  display: flex
  justify-content: space-between

.button
  width: 104px
  border: none
  border-radius: 3px
  color: #ffffff
  font-size: 16px
  font-family: FiraSansBook, sans-serif
  cursor: pointer
  &--submit
    background-color: #48cbe8
  &--reset
    background-color: #849db5
  @media ($tablet-width)
    width: 140px
