.info
  margin-top: 15px
  padding-bottom: 12px
  background-color: #eff3f7
  @media ($tablet-width)
    margin: 0 auto
    margin-top: 35px

.info__wrapper
  @media ($tablet-width)
    margin: 0 auto
    width: 700px
    padding-bottom: 50px
.info__title
  @media ($tablet-width)
    padding: 20px
    width: 310px
    border-bottom: 2px solid #3ba8c0

.info__photo
  width: 130px
  margin: 0 auto
  @media ($tablet-width)
    margin-left: 30px
    margin-right: 30px
    width: 200px
    float: left
.info__photo-img
  width: 100%
  border-radius: 50%
  border: 2px solid #2fa5bc

.info__description-wrap
  @media ($tablet-width)
    float: left
    width: 430px

.info__description
  font-size: 19px
  text-align: center
  &:first-of-type
    @media ($tablet-width)
      margin-top: 0
  &--skills
    @media ($tablet-width)
      display: inline-block
      vertical-align: top
      margin-top: 0

  @media ($tablet-width)
    text-align: left
  &-bold
    display: block
    text-align: center
    font-size: 20px
    font-family: FiraSansMedium, sans-serif
    @media ($tablet-width)
      display: inline-block

.skills
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin: 0 auto
  width: 105px
  @media ($tablet-width)
    display: inline-block
    vertical-align: top
    margin-left: 20px
    width: 160px

.skill__item
  margin-right: 10px
  margin-top: 10px
  display: inline-block
  padding: 2px 7px
  font-family: ProximaNovaCond, sans-serif
  color: #ffffff
  background-image: linear-gradient(to top, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%)
  border-radius: 2px

