html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  min-width: 320px
  margin: 0 auto
  padding: 0
  font-family: FiraSansRegular, sans-serif
  color: #5a636b
  background-image: url(../img/comppattern2.png)
  @media ($tablet-width)


  @media ($desktop-width)

.wrapper


.content
  min-height: calc(100vh - 38px)



.clearfix:before,
.clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both


.container
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto
  @media ($tablet-width)
    padding-left: 35px
    padding-right: 33px
  @media ($desktop-width)
    padding: 0

.content__wrap
  @media ($desktop-width)
    width: 960px
    margin: 0 auto
    margin-top: 40px
main
  @media ($desktop-width)
    width: 650px
    float: right


h2
  margin-top: 0
  text-align: center
  font-family: FiraSansBook, sans-serif
  font-size: 24px
  color: #3ba8c0

ul
  margin: 0
  padding: 0
li
  list-style: none

a
  text-decoration: none

.sprite
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: block
  margin: 0 auto
  margin-bottom: 15px
  @media ($tablet-width)
    margin-right: 25px
    margin-left: 60px
  @media ($desktop-width)
   //margin-left: 30px
  &--last
    @media ($tablet-width)
      margin-right: 32px
      margin-left: 74px
.sprite-add_img
  width: 32px
  height: 32px
  background-position: -10px -10px


.sprite-burger
  width: 25px
  height: 21px
  background-position: -10px -62px


.sprite-case
  width: 35px
  height: 33px
  background-position: -10px -103px





.sprite-hat
  width: 53px
  height: 30px
  background-position: -10px -298px


.sprite-lock
  width: 20px
  height: 32px
  background-position: -10px -348px


.sprite-mail
  width: 21px
  height: 16px
  background-position: -10px -400px


.sprite-page
  width: 33px
  height: 40px
  background-position: -10px -436px


.sprite-phone
  width: 19px
  height: 21px
  background-position: -10px -496px


.sprite-skype
  width: 20px
  height: 20px
  background-position: -10px -537px




