.menu__toggle
  position: relative
  float: right
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: block
  width: 25px
  height: 21px
  transform: translateY(50%)
  background-position: -10px -62px
  cursor: pointer
.menu
  position: relative
  &--close
    display: none

.menu ul
  position: absolute
  top: 0
  left: 0
  width: 100%
  background-color: #eff3f7
  box-shadow: 0 4px 8.7px 0.3px rgba(88, 105, 122, 0.59)

.menu__item
  text-align: center
  &:not(:first-of-type)
    border-top: 1px solid #8196ac

.menu__item-link
  display: block
  text-align: center
  padding: 3px 0
  font-size: 24px
  color: #8196ac
  &--active
    background-color: #2fa5bc
    color: #fff



  