.social
  padding: 20px 27px

.social__wrap
  width: 300px

.social__link
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: inline-block
  font-size: 0
  &:not(:last-of-type)
    margin-right: 19px

.social__link--facebook
  width: 52px
  height: 51px
  background-position: -10px -156px


.social__link--github
  width: 52px
  height: 51px
  background-position: -10px -227px

.social__link--twitter
  width: 52px
  height: 51px
  background-position: -10px -577px


.social__link--vk
  width: 52px
  height: 51px
  background-position: -10px -648px