

doctype html
html
  head
    meta(charset='utf-8')

    title Портфолио Корнея
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='app/css/normalize.css')
    link(rel='stylesheet', href='app/css/style.css')

  body
    .wrapper
      .content
        header.header
          .header__wrap.clearfix
            .logo
              a.logo__link(href="index.html")
                img.logo__img(src="app/img/logo.png")

            .menu__toggle

            section.social.social--header
              .social__wrap.container
                a.social__link.social__link--vk(href="https://vk.com/id29755814")
                  i.fa.fa-vk
                a.social__link.social__link--twitter(href="https://vk.com/id29755814")
                  i.fa.fa-twitter
                a.social__link.social__link--facebook(href="https://www.facebook.com/kornienko.den")
                  i.fa.fa-facebook
                a.social__link.social__link--github(href="https://github.com/korney197823")
                  i.fa.fa-github

        .content__wrap.clearfix
          nav.menu.menu--close
            ul
              li.menu__item
                a.menu__item-link(href="index.html") Обо мне
              li.menu__item
                a.menu__item-link(href="#") Мои работы
              li.menu__item
                a.menu__item-link.menu__item-link--active(href="#") Связаться со мной

          .container.container--form
            form.form
              h2.form__title.
                У вас есть интересный проект?
                Напишите мне
              .form__input-wrap
                .form__name-wrap
                  label.label Имя
                    input.input(type="text", name="name", value="Как к Вам обращаться")
                  label.label Email
                    input.input(type="text", name="email", value="Куда мне писать")
                label.label Сообщение
                  textarea Кратко, в чем суть

                h3.capcha__title Введите код, указанный на картинке
                .capcha__wrap
                  .capcha__img
                    img(src="app/img/capcha.png", alt="capcha")
                  input.input.input--capcha(type="text")

                .button__wrap
                  input.button.button--submit(type="submit")
                  input.button.button--reset(type="reset")

          section.contacts
            ul.contacts__list
              li.contacts__item.contacts__item--dark
                .contacts__item-wrap
                  i.sprite.sprite-mail
                  a(class="contacts__mail", href="mailto:korney197823@gmail.com") korney197823@gmail.com
              li.contacts__item.contacts__item--middle
                .contacts__item-wrap
                  i.sprite.sprite-phone
                  a(class="contacts__phone", href="tel:+78125556666") +79883337098
              li.contacts__item.contacts__item--light
                .contacts__item-wrap
                  i.sprite.sprite-skype
                  a(class="contacts__skype", href="skype:korney1978?chat") korney197823



      footer.footer
        p &#169; 2015 Это мой сайт пожалуйста, не копируйте и не воруйте его

    script(src="app/libs/jquery/dist/jquery.min.js")
    script(src="app/js/main.js")




