//
   Created by Denis on 19.05.2016.
doctype html
html
  head
    meta(charset='utf-8')

    title Портфолио Корнея
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='app/css/normalize.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel='stylesheet', href='app/css/style.css')

  body
    .wrapper
      .content
        header.header
          .header__wrap.clearfix
            .logo
              a.logo__link(href="#")
                img.logo__img(src="app/img/logo.png")



            .menu__toggle

            section.social.social--header
              .social__wrap.container
                a.social__link.social__link--vk(href="https://vk.com/id29755814")
                  i.fa.fa-vk
                a.social__link.social__link--twitter(href="https://vk.com/id29755814")
                  i.fa.fa-twitter
                a.social__link.social__link--facebook(href="https://www.facebook.com/kornienko.den")
                  i.fa.fa-facebook
                a.social__link.social__link--github(href="https://github.com/korney197823")
                  i.fa.fa-github

        nav.menu.menu--close
          ul
            li.menu__item
              a.menu__item-link.menu__item-link--active(href="#") Обо мне
            li.menu__item
              a.menu__item-link(href="#") Мои работы
            li.menu__item
              a.menu__item-link(href="form.html") Связаться со мной

        main
          .container
            section.info
              .info__wrapper.clearfix
                h2.info__title Основная информация
                div.info__photo
                  img.info__photo-img(src="app/img/avatar.jpg", alt="avatar")
                .info__description-wrap
                  p.info__description
                    span.info__description-bold Меня зовут:
                    |  Корниенко Денис Витальевич
                  p.info__description
                    span.info__description-bold Мой возраст:
                    |  25 лет
                  p.info__description
                    span.info__description-bold Мой город:
                    |  Геленджик
                  p.info__description
                    span.info__description-bold Моя специализация:
                    |  FRONTEND разработчик
                  p.info__description.info__description--skills
                    span.info__description-bold Ключевые навыки:
                    ul.skills
                      li.skill__item html
                      li.skill__item css
                      li.skill__item git
                      li.skill__item gulp
                      li.skill__item javascript

          .container
            section.experience
              .info__wrapper.clearfix
                h2.experience__title Опыт работы
                div.experience__description
                  i.sprite.sprite-case
                  .experience__description-title
                    .experience__description-bold ООО "Фирма "Славтранс" Главный бухгалтер
                    .experience__description-text Апрель 2015 по настоящее время
                div.experience__description
                  i.sprite.sprite-case
                  .experience__description-title
                    .experience__description-bold ООО "Фирма "Славтранс" Заместитель главного бухгалтера
                    .experience__description-text  Декабрь 2010 - Апрель 2015


          .container
            section.education
              .info__wrapper.clearfix
                h2.education__title Образование
                .education__description
                  i.sprite.sprite-hat
                  .education__description-title
                    .education__description-bold Томский Государственный Архитектурно-строительный университет
                    .education__description-text  Сентябрь 2000 - Октябрь 2005
                .education__description
                  i.sprite.sprite-page.sprite--last
                  .education__description-title
                    .education__description-bold HTML-academy Базовый и Продвинутый интенсивы
                    .education__description-text  Февраль 2016 - Май 2016

          section.contacts
            ul.contacts__list
              li.contacts__item.contacts__item--dark
                .contacts__item-wrap
                  i.sprite.sprite-mail
                  a(class="contacts__mail", href="mailto:korney197823@gmail.com") korney197823@gmail.com
              li.contacts__item.contacts__item--middle
                .contacts__item-wrap
                  i.sprite.sprite-phone
                  a(class="contacts__phone", href="tel:+78125556666") +79883337098
              li.contacts__item.contacts__item--light
                .contacts__item-wrap
                  i.sprite.sprite-skype
                  a(class="contacts__skype", href="skype:korney1978?chat") korney197823

          section.social.social--footer
            .social__wrap.container
              a.social__link.social__link--vk(href="https://vk.com/id29755814")
                i.fa.fa-vk
              a.social__link.social__link--twitter(href="https://vk.com/id29755814")
                i.fa.fa-twitter
              a.social__link.social__link--facebook(href="https://www.facebook.com/kornienko.den")
                i.fa.fa-facebook
              a.social__link.social__link--github(href="https://github.com/korney197823")
                i.fa.fa-github

      footer.footer
        p &#169; 2015 Это мой сайт пожалуйста, не копируйте и не воруйте его


    script(src="app/libs/jquery/dist/jquery.min.js")
    script(src="app/js/main.js")
